@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #0f0f0f;
  --foreground: #eaeaea;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.3s, background-color 0.3s;
}
